<!-- User exists-->
{{if ne . ""}}
{{template "header"}}
<h3 class="text-center padding-top-small">Guthaben aufladen 1</h3>

<div class="input-group mb-3 margin-top-small justify-content-center col-lg-6 padding-top-small">
  <!-- Hier wird auf addCredits weitergeleitet !!!-->
  <form action="/addCredits" method="post">




    <label for="text" class="padding-top-small text-center">Guthaben aufladen in Cobblestone</label>
    <input name="valueCobblestone" type="number" min="0" class="form-control  center "
      placeholder="Betrag in Cobblestone" aria-label="Username" aria-describedby="basic-addon1">

    <br>
    <button type="submit" class="margin-top-small mx-auto ">abschließen</button>

  </form>

</div>

<!-- user exists not-->
{{else}}
{{template "header"}}

<h3 class="text-center padding-top-small">Guthaben aufladen 2</h3>

<h2 class="center padding-top-small">Nutzer konnte nicht gefunden werden</h2>

<div class="input-group mb-3 margin-top-small justify-content-center col-lg-6 padding-top-small">
  <!-- Hier wird auf addCredits weitergeleitet !!!-->
  <form action="/addCredits" method="post">


    <label for="text" class="padding-top-small text-center">Guthaben aufladen in
      Cobblestone</label>
    <input name="valueCobblestone" type="number" min="0" max="100000" class="form-control  center "
      placeholder="Betrag in Cobblestone" aria-label="Username" aria-describedby="basic-addon1" readonly>

    <br>
    <button type="submit" class="margin-top-small mx-auto " disabled>abschließen</button>

  </form>

</div>


{{end}}

</body>

</html>