<html lang="en">

{{template "header"}}

<body>

    <!-- login -->

    <!-- Input is transmitted through a formValue-->
    <h2 class="padding-top-verySmall text-center ">login</h2>

    <div class="input-group mb-3 margin-top-small justify-content-center col-lg-6 padding-top-small">
        <form action="" method="post">

            <!-- Enter the username -->
            <label for="text" class="text-center">Username</label>
            <input name="usernameLogin" type="text" class="form-control center " placeholder="username"
                aria-label="login" aria-describedby="basic-addon1" required>
            <br>

            <!-- Enter the password-->
            <label for="text" class="text-center">Password</label>
            <input name="usernamePasswordLogin" type="password" class="form-control center " placeholder="password"
                aria-label="login" aria-describedby="basic-addon1" required>
            <br>
            <button type="submit" class="margin-top-small mx-auto ">abschließen</button>
            <!-- not equal to "" and logOut-->

            <!-- Execution stops here ERROR-->
        </form>

    </div>


    <div class="text-center">
        {{if ne . ""}}
        <h4>Hallo {{.}}, du hast dich erfolgreich eingeloggt</h4>
        {{end}}
    </div>






    <!-- logout-->
    <div class="text-center">
        <h2 class="padding-top-verySmall ">logout</h2>
        <form action="/login" method="get">

            <br>
            <button type="submit" class="margin-top-small mx-auto " name="logoutName" value="logoutValue">ausloggen
            </button>




        </form>
    </div>

    {{if . ""}}
    <h4>Das Ausloggen war erfolgreich</h4>
    {{end}}







</body>

</html>