<html lang="en">

{{template "header"}}

<h3 class="text-center padding-top-small">Nutzer registrieren</h3>

<div class="input-group mb-3 padding-top-small justify-content-center col-lg-6">
  <!-- Seite, wenn login erfolgreich-->

  <form action="/registerUsers" method="post">

    <!-- Set username for user -->
    <label for="text" class="text-center padding-top-small">Bitte gewünschten Nutzername eingeben</label>
    <input name="usernameRegister" type="text" class="form-control center " placeholder="Username"
      aria-label="usernameRegister" aria-describedby="basic-addon1">

    <br>

    <!-- Set password for user -->

    <label for="text" class="text-center">Please enter your password</label>
    <input name="usernamePasswordRegister" type="password" class="form-control center " placeholder="password"
      aria-label="login" aria-describedby="basic-addon1" required>
    <br>
    <button type="submit" class=" mx-auto ">abschließen</button>

    {{if ne .Error ""}}
    <h4 class="padding-top-small"> Error: {{.Error}}</h4>
    {{end}}
    {{if ne .Inventar.Username ""}}
    <h4 class="padding-top-small"> Hallo {{.Inventar.Username}}, die Anmeldung war erfolgreich</h4>
    {{end}}

  </form>
</div>
</body>

</html>